# Ambience Config

enabled=true

# === Events - Highest Priority
# Any non covered events will be ignored
# e.g. If you don't want a "high up" song, don't include event.highUp

event.mainMenu=MenuTheme
event.boss=Boss,Boss1,Boss2,Boss3
event.underground=cavern
event.deepUnderground=DeepUnderground
event.village=village
event.underwater=underwater
event.night=night,night2
event.rain=rain
event.fishing=fishing
event.boat=boat
event.horde=battle,battle2
event.horse=horse
event.highUp=thesky
event.attacked=battle,battle2
event.generic=field

#Bosses
event.foliaath=Boss
event.ferrous_wroughtnaut=Boss
event.barakoaya=Boss
event.barako=Boss
event.frostmaw=Boss
event.naga=Boss

# === Events End

# === Specific Areas with the Sondnizer Tool - Highest Priority
# Areas names have spaces replaced with +

area.Airharbor=harbor
area.Elevador=elevator
area.Dungeon=dungeon
area.Laboratorio=laboratory

# === Specific Biomes - High Priority
# Biomes names have spaces replaced with +

biome.Sunflower+Plains=field
biome.Flower+Forest=forest
biome.Roofed+Forest=wood
biome.Deep+Ocean=ocean
biome.The+Void=silent
biome.The+End=ender
biome.Hell=nether
biome.House=house,house1,house2
biome.Shop=shop


# === Specific Biomes End

# === Biome Tags - Medium/Low Priority
# These make use of the forge biome dictionary
# Casing is ignored
# There's primary and secondary tags. All primary tags will get checked before the secondary ones
# https://github.com/MinecraftForge/MinecraftForge/blob/master/src/main/java/net/minecraftforge/common/BiomeDictionary.java

# Medium priority
primarytag.nether=nether
primarytag.end=ender
primarytag.ocean=ocean
primarytag.river=river


# Low
secondarytag.mesa=MesaBiomeTheme
secondarytag.forest=forest
secondarytag.plains=field
secondarytag.moutain=mountain
secondarytag.hills=mountain
secondarytag.swamp=swampland
secondarytag.sandy=desert
secondarytag.snowy=ice
secondarytag.wasteland=field
secondarytag.beach=beach

# === Biome Tags End