# Ambience Config
#Enables or disables completly the mod(default=true)
enabled=true

#Enables or disables the notification in the chat that has updates(default=false)
ShowUpdateNotifications=false

# === Events - Highest Priority
# Any non covered events will be ignored
# e.g. If you don't want a "high up" song, don't include event.highUp

event.mainMenu=MenuTheme
event.boss=Boss,Boss1,Boss2,Boss3
event.underground=cavern
event.deepUnderground=DeepUnderground
event.village=village
event.underwater=underwater
event.night=night,night2
event.rain=rain
event.fishing=fishing
event.boat=boat
event.horde=battle,battle2
event.horse=horse
event.highUp=thesky
event.attacked=battle,battle2
event.generic=field
event.falling=falling
event.flyingelytra=flying
event.lava=lava
event.gameover=died
event.paused=silent
event.connecting=silent
event.disconnected=silent

# === Events Per Dimension ====
# If you set only "dimension.[DimensionID]" it will play that music globally on that dimension
# and "dimension.[DimensionID].[Event]" it will set the event for that dimension

#The Midnight Dimension Mod
dimension.-23.boat=boat
dimension.-23.attacked=battle,battle2
dimension.-23.horse=horse

#Deep Dark Dimension
dimension.-11325=silent
dimension.-11325.sleeping=sleeping
dimension.-11325.lava=lava

# === Special Bosses =====

event.bossEnderDragon=Boss
event.bossWither=Boss

# === Events End

# === Specific Sounds for each mob (use the mob name even modded mobs)
#Mobs names have spaces replaced with +

mob.zombie=battle,battle2
mob.skeleton=battle,battle2
mob.creeper=battle,battle2
mob.foliaath=Boss
mob.ferrous_wroughtnaut=Boss3
mob.barakoaya=Boss
mob.barako=Boss
mob.frostmaw=Boss3
mob.naga=Boss3

# === Specific Areas with the Sondnizer Tool - Highest Priority
# Areas names have spaces replaced with +

area.Airharbor=harbor
area.Elevador=elevator
area.Dungeon=dungeon
area.Laboratorio=laboratory

# === Specific Biomes - High Priority
# Biomes names have spaces replaced with +

biome.Sunflower+Plains=field
biome.Flower+Forest=forest
biome.Roofed+Forest=wood
biome.Deep+Ocean=ocean
biome.The+Void=silent
biome.The+End=ender
biome.Hell=nether
biome.House=house,house1,house2
biome.Shop=shop

#The Midnight Dimension Mod

biome.Fungi+Forest=midnight_idle,crystal,midnight_idle,stegano
biome.Hilly+Fungi+Forest=midnight_idle,crystal,midnight_idle,ultraviolet
biome.Vigilant+Forest=midnight_idle,crystal,midnight_idle,stegano
biome.Obscured+Plateau=midnight_idle,crystal,midnight_idle,ultraviolet
biome.Black+Ridge=midnight_idle,crystal,midnight_idle,stegano
biome.Phantasmal+Valley=midnight_idle,midnight_idle,midnight_idle,ultraviolet
biome.Deceiful+Bog=midnight_idle,midnight_idle,midnight_idle,ultraviolet
biome.Warped+Fields=midnight_idle,midnight_idle,midnight_idle,stegano
biome.Crystal+Spires=midnight_idle,crystal,midnight_idle,stegano
biome.Night+Plains=midnight_idle,midnight_idle,midnight_idle,ultraviolet


# === Specific Biomes End

# === Biome Tags - Medium/Low Priority
# These make use of the forge biome dictionary
# Casing is ignored
# There's primary and secondary tags. All primary tags will get checked before the secondary ones
# https://github.com/MinecraftForge/MinecraftForge/blob/master/src/main/java/net/minecraftforge/common/BiomeDictionary.java

# Medium priority
primarytag.nether=nether
primarytag.end=ender
primarytag.ocean=ocean
primarytag.river=river


# Low
secondarytag.mesa=MesaBiomeTheme
secondarytag.forest=forest
secondarytag.plains=field
secondarytag.moutain=mountain
secondarytag.hills=mountain
secondarytag.swamp=swampland
secondarytag.sandy=desert
secondarytag.snowy=ice
secondarytag.wasteland=field
secondarytag.beach=beach

# === Biome Tags End